/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

footer a, p a {
  color: #ff6000 !important;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* html { */
  /* background-color: #343a40; */
/* } */

.landing-img {
  object-fit: cover;
  height: 100px;
}

.landing-strip {
  height: 100px !important;
}

.dark-input {
  border-color: #222;
}

.btn-orange {
  background-color: #ff6000 !important;
}

/* .swal-button--cofn {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
} */

/* .swal-button--warning {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px red;
} */